body {
    background-image: url("https://assets.awwwards.com/awards/images/2015/04/pattern.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   }

.bio-picture {
    display: block;
    height: 25%;
    width: 25%;
    float: left;
}
.container {
    border: solid black 10px;
}